<div class="header">
  <ul style="vertical-align: middle;">
    <span class="logo">
    </span>
    <!-- <li><a href="javascript:logoutWithKakao()">로그아웃하기</a></li>
    <li><a href="javascript:loginWithKakao()">카카오톡 로그인</a></li> -->
    <% if current_user %>
      <!-- <li><%#= link_to "로그아웃", destroy_user_session_path, :method => :delete %><li> -->
      <!-- <li><a href="<%= destroy_user_session_path %>">로그아웃</a></li> -->

      <!-- 마이페이지 -->
      <li class="dropdown" style="position: absolute; right:20px;">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="far fa-user-circle" style="font-size:30px; line-height: 20px;"></i>
        </a>
        <ul class="dropdown-menu" role="menu" style="left:-100px;">
          <li class="dropdown-li"><a tabindex="-1" href="<%= home_mypage_path %>">프로필</a></li>
          <li class="dropdown-li"><a tabindex="-1" href="#">연락처 요청 확인</a></li>
          <li class="dropdown-li"><a tabindex="-1" href="#">개인정보 수정</a></li>
          <li class="dropdown-li"><%= link_to '로그아웃', destroy_user_session_path, :method => :delete %> </li>
        </ul>
      </li>

      <li><a href="#"><i class="far fa-bell" style="font-size: 20px; margin-right: 68px;"></i></a></li>
      <li><a href="#"><i class="far fa-comment" style="font-size:20px;"></i></a></li>
      <!-- <li><a href="#"><i class="fas fa-search" style="font-size: 20px;"></i></a></li> -->

    <% else %>
      <li><a href="<%= new_user_session_path %>">로그인/회원가입</a></li>
    <% end %>
    <li><a class="unclickable"">|</a></li>
    <li><a href="<%=  %>">커뮤니티</a></li>

    <!-- <li><a class="active" href="<%#=  new_user_session_path %>">로그인/회원가입</a></li> -->
    <li><a href="<%= projects_path %>">프로젝트모집</a></li>
    <li><a href="<%= mates_path %>">티메이트찾기</a></li>
    <li><a href="<%= home_introduce_path %>">소개</a></li>

    <li style="float: left"> <a href="<%= root_path %>">TEAMATE</a>
    </li>

</div>

<style>
  .dropdown-li{
    float: left;
    padding: 10px 10px;
  }

</style>
<!--

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<script type='text/javascript'>
  //<![CDATA[
    // 사용할 앱의 JavaScript 키를 설정해 주세요.
  Kakao.init('0f46a73373f0b5945e830d706f7fa38d');
    function loginWithKakao() {
      // 로그인 창을 띄웁니다.
      Kakao.Auth.login({
        success: function(authObj) {
          alert(JSON.stringify(authObj));
        },
        fail: function(err) {
          alert(JSON.stringify(err));
        }
      });
    };

    function logoutWithKakao(){
      Kakao.Auth.logout(function(){
        setTimeout(function(){
          location.href = "http://localhost:3000"
        },1000);
        console.log("logout");
      });

      // function getAccessToken(){
      //   console.log("success");
      //   Kakao.Auth.getAccessToken();
      // };
    }

  //]]>
</script> -->
