<%= render 'shared/navbar' %>

<div class="section" id="sectino1" style="background-color:white; padding-bottom:200px;">
  <div style="margin-top: 70px; align-items: center; text-align:center;">
    <h5 style="color:black; margin-top:200px; align-items: center; text-align:center;">Service Outline</h5>
    <h1 style="font-size: 2.5rem; color:black;">사 람 을 &nbsp 찾 습 니 다</h1>
    <hr style="margin-top: 40px; max-width: 6rem; border-width: .3rem; border-top: 5px solid #64a19d;">
    <p style="font-size: 1.8rem; font-weight: 100; margin-top: 40px; color:black; line-height: 3.5rem;">티메이트는 대학생을 위한 팀빌딩 플랫폼입니다. <br> 당신의 특별한 아이디어를 실현시켜 줄 사람을 찾고 계신가요? <br> 혹은, 특별한 아이디어가 없어도 특별한 무언가를 함께 시작할 사람을 찾고 있다면 티메이트에서 시작해보세요.</p>
  </div>
</div>

<div class="section" style="background: url(<%= asset_path 'introduce-bg.jpg' %>) no-repeat 50% fixed/cover; height: 600px;">
</div>

<div class="section" id="section2">
  <h5 style="color:black; margin-bottom:20px; align-items: center; text-align:center;">Service Motive</h5>
  <div class="section-title" style="font-size: 2.5rem;"> #조별과제 #팀플 </div>
    <div style="margin-top: 30px;">
      <%= image_tag ("post.png") %>
    </div>
    <div style="margin-top: 20px; font-size: 17px;">
      원하는 조건의 팀원을 찾기 힘들고, 구하더라도 팀원의 능력, 기여도, 태도에 불만이 생김
    </div>
</div>

<div class="section" style="background-color: white; padding-bottom: 80px">
  <h5 style="color:black; margin-top:50px; margin-bottom:20px; align-items: center; text-align:center;">Service Feature</h5>
  <div class="section-title" style="margin-top: 30px; font-size: 2rem;"> 나를 소개하고, 나와 함께할 사람을 찾아보세요</div>
  <div class="row" style="margin-top:100px; padding: 0px 300px;">
    <div class="col-sm-4">
      <i class="fas fa-user-check" style="font-size:30px; color: #64a19d; margin-bottom:15px;"></i>
      <h3 style="font-weight: bold;">티메이트 등록</h3>
      <p style="font-size:14px; margin-top: 20px; line-height: 3.5rem;">
        무엇을 해왔는지, 무엇을 하고 싶은지, 어떤 성격인지  <br>표현해서 메이트들에게 당신을 소개해주세요! </p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-project-diagram" style="font-size:30px; color: #64a19d; margin-bottom:15px;"></i>
      <h3 style="font-weight: bold;">프로젝트 모집</h3>
      <p style="font-size:14px; margin-top: 20px; line-height: 3.5rem;">
        아이디어가 없어도 괜찮아요. <br> 함께 팀을 이룰 티메이트들을 찾아보세요! </p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-thumbs-up" style="font-size:30px; color: #64a19d; margin-bottom:15px;"></i>
      <h3 style="font-weight: bold;">팀원 평가</h3>
      <p style="font-size:14px; margin-top: 20px; line-height: 3.5rem;">
        칭찬하고 싶은 팀원이 있나요? 또는, 실망했나요?<br> 팀원평가를 블록체인에 저장하고 조회할 수 있어요! </p>
    </div>
  </div>
</div>

<div class="section" id="section3" style="background-color: #64a19d; padding-left: 50px; padding-right:50px;">
  <h5 style="color:white; margin-top:20px; margin-bottom:20px; align-items: center; text-align:center;">Service Prototype</h5>
  <div class="section-title" style="margin-top: 30px; font-size: 2rem; color: white;"> 티메이트에서 가능한 것</div>

  <div class="row" style="margin-top: 50px;">
    <div class="col-sm-4" style="text-align:center; padding: 0 40px;">
      <div>
        <i class="fas fa-hands-helping" style="font-size:25px; color: white; margin-bottom:15px;"></i>
        <h2 style="font-weight:bold;"> 간편한 매칭 </h2>
        <hr style="margin-top: 20px; max-width: 3rem; border-width: .3rem; border-top: 2px solid white;">
        <p style="margin-bottom: 30px;">팀원을 찾기 힘드셨나요? 또는 프로젝트에 참여하고 싶으신가요? <br>티메이트를 통해 간편하게 매칭해보세요!</p>
      </div>

      <div class="box" style="position: relative;">
        <div class="front">
          <img src="<%= asset_path 'main.png' %>"  style="width:300px; height: 534px; transform:translate(0px,16px)">
        </div>

        <div class="back">
          <img src="<%= asset_path 'phone.png' %>" style="width:360px; height: 600px;">
        </div>
      </div>

    </div>

    <div class="col-sm-4" style="text-align:center; padding: 0 40px;">
      <div>
        <i class="fas fa-search" style="font-size:25px; color: white; margin-bottom:15px;"></i>
        <h2 style="font-weight:bold;"> 팀원/프로젝트 찾기 </h2>
        <hr style="margin-top: 20px; max-width: 3rem; border-width: .3rem; border-top: 2px solid white;">
        <p style="margin-bottom: 30px;">원하는 조건의 팀원과 프로젝트를 필터링하여 시작해보세요. <br>프로젝트 분야, 팀원 성격 등 다양한 조건을 설정할 수 있습니다. </p>
      </div>

      <div class="box" style="position: relative;">
        <div class="front">
          <img src="<%= asset_path 'project.png' %>"  style="width:300px; height: 534px; transform:translate(0px,16px)">
        </div>

        <div class="back">
          <img src="<%= asset_path 'phone.png' %>" style="width:360px; height: 600px;">
        </div>
      </div>
    </div>

    <div class="col-sm-4" style="text-align:center; padding: 0 40px;">
      <div>
        <i class="fas fa-thumbs-up" style="font-size:25px; color: white; margin-bottom:15px;"></i>
        <h2 style="font-weight:bold;"> 평가 열람 </h2>
        <hr style="margin-top: 20px; max-width: 3rem; border-width: .3rem; border-top: 2px solid white;">
        <p style="margin-bottom: 30px;">내 프로젝트에 참여할 팀원의 평가를 조회할 수 있어요. <br> 또한 프로젝트가 끝난 후 서로에게 평가를 줄 수 있습니다.</p>
      </div>
      <div class="box" style="position: relative;">
        <div class="front">
          <img src="<%= asset_path 'show.png' %>"  style="width:300px; height: 534px; transform:translate(0px,16px)">
        </div>

        <div class="back">
          <img src="<%= asset_path 'phone.png' %>" style="width:360px; height: 600px;">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" style="background-color: white;">
  <h5 style="color:black; margin-top: 30px; margin-bottom:20px; align-items: center; text-align:center;">Job Relation</h5>
  <div class="section-title" style="font-size: 2rem;">사회진출과의 연관성</div>
  <h3 style="font-weight: bold; margin-top: 40px; margin-bottom: 20px;">카카오뱅크</h3>
  <img class="wow pulse" src="<%= asset_path 'kakaobank.png' %>" style="width:110px; height: 130px;">
  <p style="margin-top: 30px; line-height: 3rem;">
    카카오뱅크는 사람과 은행의 만남이 더 쉽게, 더 자주 일어나야 한다고 믿습니다. <br>
    사용자 중심의 혁신적인 기술을 통해 일상 속 어떤 순간에서도 유용한 나만의 은행.<br>
    카카오뱅크는 또 하나의 은행이 아닌 '은행의 새로운 시작' 입니다.<br>
  </p>
  <hr style="color: lightgray; border-width: .2rem; margin-top: 40px; margin-bottom: 40px; width: 75%;">
  <h3 style="font-weight: bold;">지원자격 및 우대사항</h3>
  <div style="margin-top: 20px; line-height: 3.3rem; font-size: 15px;">
    <i class="fas fa-check" style="margin-right: 5px; color:#64a19d;"></i> 블록체인에 대한 기본 이해를 가지신 분  <br>
    <i class="fas fa-check" style="margin-right: 5px; color:#64a19d;"></i> 기본적인 웹 서비스에 대한 이해를 가지신 분  <br>
    <i class="fas fa-check" style="margin-right: 5px; color:#64a19d;"></i> 논문을 읽고 이해할 수 있는 역량을 가지신 분 <br>
    <i class="fas fa-check" style="margin-right: 5px; color:#64a19d;"></i> DApp / Smart Contract 개발 프로젝트 경험이 있으신 분 <br>
    <i class="fas fa-check" style="margin-right: 5px; color:#64a19d;"></i> 기본적인 컴퓨터 프로그램을 작성할 수 있는 역량이 있으신 분 <br>
  </div>
</div>


<div class="section">
  <h5 style="color:black; margin-top:50px; align-items: center; text-align:center;">Service Technology</h5>
  <div class="section-title" style="margin-top: 30px; font-size: 2rem;"> 왜 블록체인인가요? </div>
  <i class="fas fa-cubes wow bounce" style="font-size:60px; color: #64a19d; margin-top:30px;"></i>
  <p style="margin-top: 40px; line-height: 3rem;"> 블록체인은 “peer to peer” 거래를 가능하게 하는 기술입니다.
    <br>네트워크상의 모든 참여자들은 모든 다른 네트워크 참여자들과 직접 거래가 가능합니다.
    <br> 제3자의 중개자가 불필요하며, 모든 거래가 여러 컴퓨터 네트워크에 저장됩니다. 네트워크상 다른 모든 참여자들이 거래내용을 확인하기에
    <br> 참여자들이 목격자 역할을 하여 신뢰성을 확보합니다.
    블록체인은 보안강화, 비용감소, 거래시간 단축, 및 투명성 증가 등을 실현하면서, 모바일 서비스 산업에도 빠르게 활용되고 있습니다. <br>
  </p>
</div>

<div class="section">
  <div class="card" style="height: 190px; border: 0; border-bottom: .25rem solid #64a19d;">
    <div class="card-body text-center">
      <i class="fas fa-people-carry" style="color:#64a19d;"></i>
      <h4 class="text-uppercase m-0">Peer to Peer</h4>
      <hr style="border-color: #64a19d; border-width: .25rem; width: 3rem;">
      <div style="font-size: 14px;"> 전반적인 거래비용은 중간자 혹은 브로커 서비스가<br> 필요하지 않기에 낮아집니다.</div>
    </div>
  </div>
  <div class="card" style="height: 190px; border: 0; border-bottom: .25rem solid #64a19d;">
    <div class="card-body text-center">
      <i class="fas fa-database" style="color:#64a19d;"></i>
      <h4 class="text-uppercase m-0">Decentralized Storage</h4>
      <hr style="border-color: #64a19d; border-width: .25rem; width: 3rem;">
      <div style="font-size: 14px;"> 분산저장으로 인해 데이터는 더 편하게 이용할 수 있고, <br>신뢰성도 오르고, 검증성도 증가합니다.</div>
    </div>
  </div>

  <div class="card" style="height: 190px; border: 0; border-bottom: .25rem solid #64a19d;">
    <div class="card-body text-center">
      <i class="fas fa-file-contract" style="color:#64a19d;"></i>
      <h4 class="text-uppercase m-0">Smart Contract</h4>
      <hr style="border-color: #64a19d; border-width: .25rem; width: 3rem;">
      <div style="font-size: 14px;">거래정보는 모든 사람들이 네트워크에서 이용할 수 있고, <br>데이터는 모든 사람들이 확인할 수 있습니다.</div>
    </div>
  </div>
</div>

<div class="bg-img section" style="text-align:center;
background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.3) 100%), url(<%= asset_path 'forum.jpg' %>);
background-size: cover; background-position: center center; width: 100%;">
  <div class="section-title" style="font-size: 2.5rem; color:white; text-shadow: 1px 1px 5px #565656; margin-top: 100px;">
   <span style="color:#ffd112;">세계경제포럼</span>에서 주목한 블록체인
  </div>
  <div style="margin-top:40px; margin-bottom: 140px; color: white; font-size: 16px;">
    각국의 정치,경제,관계 지도자들이 모여 정보를 교환하고 세계 경제 발전 방향에 대해 자유롭게 논의하는 모임
  </div>
  <div style="text-align:center; padding-left: 300px; padding-right: 300px;">
    <table style="color:white; width:100%; ">
    <thead>
      <tr style="font-size: 20px; font-weight: bold;">
        <th>2016</th> <th>2017</th> <th>2018</th>
      </tr>
    </thead>
    <tbody style="line-height: 5rem; color: lightgray;">
      <tr>
        <td>인공지능과 고급머신러닝</td><td>인공지능 강화 시스템</td><td>인공지능 주도 개발</td>
      </tr>
      <tr>
        <td>지능형 앱</td><td>지능형 앱 분석</td><td>양자 컴퓨팅</td>
      </tr>
      <tr>
        <td>지능형 사물</td><td>지능형 사물</td><td>자율 사물</td>
      </tr>
      <tr>
        <td>대화형 시스템</td><td>대화형 플랫폼</td><td>증강 분석</td>
      </tr>
      <tr>
        <td>디지털 트윈</td><td>디지털 트윈</td><td>디지털 트윈</td>
      </tr>
      <tr>
        <td>메시지 앱 및 서비스 아키텍쳐</td><td>클라우드에서 에지로</td><td>자율권을 가진 에지</td>
      </tr>
      <tr>
        <td>VR & AR</td><td>몰입 경험</td><td>몰입 경험</td>
      </tr>
      <tr>
        <td style="color:white; font-size: 18px; font-weight:bold; background-color:#ffd112; text-shadow: 1px 1px 5px #565656;">블록체인</td>
        <td style="color:white; font-size: 18px; font-weight:bold; background-color:#ffd112; text-shadow: 1px 1px 5px #565656;">블록체인</td>
        <td style="color:white; font-size: 18px; font-weight:bold; background-color:#ffd112; text-shadow: 1px 1px 5px #565656;">블록체인</td>
      </tr>
      <tr>
        <td>디지털 기술 플랫폼</td><td>이벤트 기반 모델</td><td>스마트 공간</td>
      </tr>
      <tr>
        <td>능동형 보안 아키텍쳐</td><td>지속적이며 적용가능한 리스크 및 신뢰 평가접근법</td><td>디지털 윤리와 개인정보보호</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="section" style="background-color: white;">
  <h5 style="color:black; margin-top:50px; align-items: center; text-align:center;">Development Step</h5>
  <div class="section-title" style="margin-top: 30px; margin-bottom:40px;font-size: 2rem;">개발 절차</div>
  <div style="text-align:center; align-items: center;">
    <nav>
      <ol class="cd-breadcrumb triangle step">
      <li><span>기획 및 디자인 컨셉</span></li>
      <li><span>CSS Library 제작</span></li>
      <li class="current"><em>CSS Library 적용</em></li>
      <li><span>블록체인 스마트 컨트랙트 개발</span></li>
      <li><span>AWS 서버 생성 및 Rails&DB 설치</span></li>
      <li><span>Ionic을 이용한 App 패키징</span></li>
      <li><span>Appstore와 Google Play에 배포</span></li>
      </ol>
    </nav>
  </div>
</div>

<div class="section">
  <h5 style="color:black; margin-top:50px; align-items: center; text-align:center;">Development Tool</h5>
  <div class="section-title" style="margin-top: 30px; font-size: 2rem;"> 개발 환경 </div>
  <div class="owl-carousel owl-theme" style="margin-top: 50px; padding-left: 60px; padding-right: 60px; align-items: center; text-align:center;">
    <div class="item">
      <i class="fab fa-apple" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">Mac OS</div>
    </div>
    <div class="item">
      <i class="fas fa-atom" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">Atom</div>
    </div>
    <div class="item">
      <i class="fab fa-ethereum" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">Ethereum</div>
    </div>
    <div class="item">
      <i class="fab fa-js" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">Javascript & jquery</div>
    </div>
    <div class="item">
      <i class="fab fa-html5" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">HTML</div>
    </div>
    <div class="item">
      <i class="fas fa-file-code" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">CSS</div>
    </div>
    <div class="item">
      <i class="fas fa-bold" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">Bootstrap</div>
    </div>
    <div class="item">
      <i class="fas fa-gem" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">Ruby on Rails</div>
    </div>
    <div class="item">
      <i class="ion ion-logo-ionic" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">Ionic</div>
    </div>
    <div class="item">
      <i class="fab fa-aws" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">AWS</div>
    </div>
    <div class="item">
      <i class="fab fa-github" style="font-size: 30px;"></i>
      <div style="font-size: 15px; margin-top: 10px;">Github</div>
    </div>

  </div>
</div>


<div class="section" style="background-color: #05172a!important; padding-top: 50px;">
  <div class="card-introduce">
    <div class="card-introduce-body">
      <i class="fas fa-gem" style="font-size: 28px; color: white;"></i>
      <h3 style="color: white; font-weight: 900;">루비온레일스</h3>
      <p class="text-muted">개발 생산성이 높은 MVC 프레임워크 기반으로 빠른 개발이 가능합니다.</p>
    </div>
  </div>

  <div class="card-introduce">
    <div class="card-introduce-body">
      <i class="fas fa-bold" style="font-size: 28px; color: white;"></i>
      <h3 style="color: white; font-weight: 900;">Bootstrap</h3>
      <p class="text-muted">모듈화된 부트스트랩 컴포넌트를 사용하여 디자인/UI를 재사용하면서 빠르게 제작합니다.</p>
    </div>
  </div>

  <div class="card-introduce">
    <div class="card-introduce-body">
      <i class="fab fa-github" style="font-size: 28px; color: white;"></i>
      <h3 style="color: white; font-weight: 900;">Github 소스코드 관리</h3>
      <p class="text-muted">Github으로 소스코드 관리를 하며 효율적으로 버전과 히스토리를 관리합니다</p>
    </div>
  </div>

  <div class="card-introduce">
    <div class="card-introduce-body">
      <i class="fab fa-ethereum" style="font-size: 28px; color: white;"></i>
      <h3 style="color: white; font-weight: 900;">Ethereum</h3>
      <p class="text-muted">팀원 평가를 블록체인 이더리움 상에 저장하여 믿을 수 있는 정보를 제공합니다.</p>
    </div>
  </div>

  <div class="card-introduce">
    <div class="card-introduce-body">
      <i class="ion ion-logo-ionic" style="font-size: 28px; color: white;"></i>
      <h3 style="color: white; font-weight: 900;">Ionic 프레임워크</h3>
      <p class="text-muted">Ionic 프레임워크를 이용해 웹앱을 패키징하여 하이브리드 앱을 개발합니다.</p>
    </div>
  </div>

  <div class="card-introduce">
    <div class="card-introduce-body">
      <i class="fab fa-aws" style="font-size: 28px; color: white;"></i>
      <h3 style="color: white; font-weight: 900;">AWS 서버</h3>
      <p class="text-muted">안정적인 클라우드 컴퓨팅을 제공하는 AWS를 이용해 호스팅합니다.</p>
    </div>
  </div>
</div>

<footer class="footer-distributed">
	<div class="footer-left">
		<h2><span>TEA</span>MATE</h2>
		<p class="footer-links">
			<span style="font-weight:normal;">2019-2 미디어 프로젝트</span>
      <span style=""">미디어학과 15학번 김가현</span>
		</p>
		<p class="footer-company-name">TEAMATE © 2019</p>
	</div>
	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>경기도 수원시 영통구 원천동 월드컵로 206</span>산학협력원 534호</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>010-4258-8535</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p>kimgahyun1@ajou.ac.kr</p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>About TEAMATE</span>
			티메이트는 대학생들이 조별과제를 함께하는 팀메이트들과 주로 카페에서 차를 마시면서 작업하는 것에 착안하여 지어진 이름입니다. 대학생들이 쉽게 원하는 팀과 프로젝트를 구할 수 있는 서비스를 제공하는 플랫폼입니다.
      티메이트는 1인 개발 서비스로, 협업문의를 환영합니다.
		</p>
	</div>
</footer>


<style>

  th{
    text-align: center;
  }
  .back{
    width: 440px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .front{
    width: 440px;
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
  }
  .card-introduce{
    position: relative;
    width: 410px;
    vertical-align: top;
    margin: 20px 15px;
    display: inline-block;
    text-align: left;
    padding: 32px 35px;
    box-sizing: border-box;
    height: 200px;
    border-color: #ced4da!important;
    border: .0625rem solid rgba(0,0,0,.08);
    border-radius: .375rem;
    background-color: transparent!important;
    background-clip: border-box;
    }
  .card-introduce-body{
    padding: 1.5rem;
    flex: 1 1 auto;
  }
  /* --------------------------------
  Primary style
  -------------------------------- */

    .step {
      font-size: 14px;
      font-family: "Source Sans Pro", sans-serif;
      color: #2c3f4c;
      background-color: #fafafa;
    }

  @media only screen and (min-width: 1170px) {
    section {
      padding: 6em 0;
    }
    section h2 {
      margin: 0 auto 3em;
    }
  }
  /* --------------------------------
  Basic Style
  -------------------------------- */
  .cd-breadcrumb, .cd-multi-steps {
    width: 90%;
    max-width: 768px;
    padding: 0.5em 1em;
    margin: 1em auto;
    background-color: #edeff0;
    border-radius: .25em;
  }
  .cd-breadcrumb:after, .cd-multi-steps:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-breadcrumb li, .cd-multi-steps li {
    display: inline-block;
    float: left;
    margin: 0.5em 0;
  }
  .cd-breadcrumb li::after, .cd-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5;
  }
  .cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
  }
  .cd-breadcrumb li > *, .cd-multi-steps li > * {
    /* single step */
    display: inline-block;
    font-size: 1.4rem;
    color: #2c3f4c;
  }
  .cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {
    /* selected step */
    color: #96c03d;
  }
  .no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
    /* steps already visited */
    color: #96c03d;
  }
  .cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
    /* replace the default arrow separator with a custom icon */
    content: '';
    height: 16px;
    width: 16px;
    background: url(../img/cd-custom-separator.svg) no-repeat center center;
    vertical-align: middle;
  }
  .cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
    /* add a custom icon before each item */
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: .4em;
    margin-top: -2px;
    background: url(../img/cd-custom-icons-01.svg) no-repeat 0 0;
    vertical-align: middle;
  }
  .cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
    /* change custom icon using image sprites */
    background-position: -20px 0;
  }
  .cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
    background-position: -40px 0;
  }
  .cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
    background-position: -60px 0;
  }
  .cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
    /* change custom icon for the current item */
    background-position: 0 -20px;
  }
  .cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
    background-position: -20px -20px;
  }
  .cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
    background-position: -40px -20px;
  }
  .cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
    background-position: -60px -20px;
  }
  @media only screen and (min-width: 768px) {
    .cd-breadcrumb, .cd-multi-steps {
      padding: 0 1.2em;
    }
    .cd-breadcrumb li, .cd-multi-steps li {
      margin: 1.2em 0;
    }
    .cd-breadcrumb li::after, .cd-multi-steps li::after {
      margin: 0 1em;
    }
    .cd-breadcrumb li > *, .cd-multi-steps li > * {
      font-size: 1.6rem;
    }
  }
  /* --------------------------------
  Triangle breadcrumb
  -------------------------------- */
  @media only screen and (min-width: 768px) {
    .cd-breadcrumb.triangle {
      /* reset basic style */
      background-color: transparent;
      padding: 0;
    }
    .cd-breadcrumb.triangle li {
      position: relative;
      padding: 0;
      margin: 4px 4px 4px 0;
    }
    .cd-breadcrumb.triangle li:last-of-type {
      margin-right: 0;
    }
    .cd-breadcrumb.triangle li > * {
      position: relative;
      padding: 1em .8em 1em 2.5em;
      color: #2c3f4c;
      background-color: #edeff0;
      /* the border color is used to style its ::after pseudo-element */
      border-color: #edeff0;
    }
    .cd-breadcrumb.triangle li.current > * {
      /* selected step */
      color: #ffffff;
      background-color: #64a19d;
      border-color: #64a19d;
    }
    .cd-breadcrumb.triangle li:first-of-type > * {
      padding-left: 1.6em;
      border-radius: .25em 0 0 .25em;
    }
    .cd-breadcrumb.triangle li:last-of-type > * {
      padding-right: 1.6em;
      border-radius: 0 .25em .25em 0;
    }
    .no-touch .cd-breadcrumb.triangle a:hover {
      /* steps already visited */
      color: #ffffff;
      background-color: #2c3f4c;
      border-color: #2c3f4c;
    }
    .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
      /*
      	li > *::after is the colored triangle after each item
      	li::after is the white separator between two items
      */
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      content: '';
      height: 0;
      width: 0;
      /* 48px is the height of the <a> element */
      border: 27px solid transparent;
      border-right-width: 0;
      border-left-width: 20px;
    }
    .cd-breadcrumb.triangle li::after {
      /* this is the white separator between two items */
      z-index: 1;
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      -ms-transform: translateX(4px);
      -o-transform: translateX(4px);
      transform: translateX(4px);
      border-left-color: #ffffff;
      /* reset style */
      margin: 0;
    }
    .cd-breadcrumb.triangle li > *::after {
      /* this is the colored triangle after each element */
      z-index: 2;
      border-left-color: inherit;
    }
    .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
      /* hide the triangle after the last step */
      display: none;
    }
    .cd-breadcrumb.triangle.custom-separator li::after {
      /* reset style */
      background-image: none;
    }
    .cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li > *::after {
      /* 50px is the height of the <a> element */
      border-top-width: 25px;
      border-bottom-width: 25px;
    }
    @-moz-document url-prefix() {
      .cd-breadcrumb.triangle li::after,
      .cd-breadcrumb.triangle li > *::after {
        /* fix a bug on Firefix - tooth edge on css triangle */
        border-left-style: dashed;
      }
    }
  }
  /* --------------------------------
  Custom icons hover effects - breadcrumb and multi-steps
  -------------------------------- */
  @media only screen and (min-width: 768px) {
    .no-touch .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:first-of-type a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
      /* change custom icon using image sprites - hover effect or current item */
      background-position: 0 -40px;
    }
    .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(2) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(2) em::before {
      background-position: -20px -40px;
    }
    .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(3) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(3) em::before {
      background-position: -40px -40px;
    }
    .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(4) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(4) em::before {
      background-position: -60px -40px;
    }
  }
  /* --------------------------------
  Multi steps indicator
  -------------------------------- */
  @media only screen and (min-width: 768px) {
    .cd-multi-steps {
      /* reset style */
      background-color: transparent;
      padding: 0;
      text-align: center;
    }
    .cd-multi-steps li {
      position: relative;
      float: none;
      margin: 0.4em 40px 0.4em 0;
    }
    .cd-multi-steps li:last-of-type {
      margin-right: 0;
    }
    .cd-multi-steps li::after {
      /* this is the line connecting 2 adjacent items */
      position: absolute;
      content: '';
      height: 4px;
      background: #edeff0;
      /* reset style */
      margin: 0;
    }
    .cd-multi-steps li.visited::after {
      background-color: #96c03d;
    }
    .cd-multi-steps li > *, .cd-multi-steps li.current > * {
      position: relative;
      color: #2c3f4c;
    }
    .cd-multi-steps.custom-separator li::after {
      /* reset style */
      height: 4px;
      background: #edeff0;
    }
    .cd-multi-steps.text-center li::after {
      width: 100%;
      top: 50%;
      left: 100%;
      -webkit-transform: translateY(-50%) translateX(-1px);
      -moz-transform: translateY(-50%) translateX(-1px);
      -ms-transform: translateY(-50%) translateX(-1px);
      -o-transform: translateY(-50%) translateX(-1px);
      transform: translateY(-50%) translateX(-1px);
    }
    .cd-multi-steps.text-center li > * {
      z-index: 1;
      padding: .6em 1em;
      border-radius: .25em;
      background-color: #edeff0;
    }
    .no-touch .cd-multi-steps.text-center a:hover {
      background-color: #2c3f4c;
    }
    .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
      color: #ffffff;
      background-color: #96c03d;
    }
    .cd-multi-steps.text-center.custom-icons li.visited a::before {
      /* change the custom icon for the visited item - check icon */
      background-position: 0 -60px;
    }
    .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
      width: 80px;
      text-align: center;
    }
    .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
      /* this is the line connecting 2 adjacent items */
      position: absolute;
      left: 50%;
      /* 40px is the <li> right margin value */
      width: calc(100% + 40px);
    }
    .cd-multi-steps.text-top li > *::before, .cd-multi-steps.text-bottom li > *::before {
      /* this is the spot indicator */
      content: '';
      position: absolute;
      z-index: 1;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #edeff0;
    }
    .cd-multi-steps.text-top li.visited > *::before,
    .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before,
    .cd-multi-steps.text-bottom li.current > *::before {
      background-color: #96c03d;
    }
    .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
      color: #96c03d;
    }
    .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
      box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
    }
    .cd-multi-steps.text-top li::after {
      /* this is the line connecting 2 adjacent items */
      bottom: 4px;
    }
    .cd-multi-steps.text-top li > * {
      padding-bottom: 20px;
    }
    .cd-multi-steps.text-top li > *::before {
      /* this is the spot indicator */
      bottom: 0;
    }
    .cd-multi-steps.text-bottom li::after {
      /* this is the line connecting 2 adjacent items */
      top: 3px;
    }
    .cd-multi-steps.text-bottom li > * {
      padding-top: 20px;
    }
    .cd-multi-steps.text-bottom li > *::before {
      /* this is the spot indicator */
      top: 0;
    }
  }
  /* --------------------------------
  Add a counter to the multi-steps indicator
  -------------------------------- */
  .cd-multi-steps.count li {
    counter-increment: steps;
  }
  .cd-multi-steps.count li > *::before {
    content: counter(steps) " - ";
  }
  @media only screen and (min-width: 768px) {
    .cd-multi-steps.text-top.count li > *::before,
    .cd-multi-steps.text-bottom.count li > *::before {
      /* this is the spot indicator */
      content: counter(steps);
      height: 26px;
      width: 26px;
      line-height: 26px;
      font-size: 1.4rem;
      color: #ffffff;
    }
    .cd-multi-steps.text-top.count li:not(.current) em::before,
    .cd-multi-steps.text-bottom.count li:not(.current) em::before {
      /* steps not visited yet - counter color */
      color: #2c3f4c;
    }
    .cd-multi-steps.text-top.count li::after {
      bottom: 11px;
    }
    .cd-multi-steps.text-top.count li > * {
      padding-bottom: 34px;
    }
    .cd-multi-steps.text-bottom.count li::after {
      top: 11px;
    }
    .cd-multi-steps.text-bottom.count li > * {
      padding-top: 34px;
    }
  }
  /* footer */
  .footer-distributed{
  	background-color: #fafafa;
  	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  	box-sizing: border-box;
  	width: 100%;
  	text-align: left;
  	font: bold 16px NanumSquare;
  	padding: 55px 50px;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  	display: inline-block;
  	vertical-align: top;
  }
  /* Footer left */
  .footer-distributed .footer-left{
  	width: 40%;
  }
  /* The company logo */
  .footer-distributed h2{
  	color:  #92999f;
    font-weight: bold;
  	margin: 0;
  }
  .footer-distributed h2 span{
  	color:  #64a19d;
  }
  /* Footer links */
  .footer-distributed .footer-links{
  	color: #92999f;
  	margin: 20px 0 12px;
  	padding: 0;
  }
  .footer-distributed .footer-links span{
  	display:inline-block;
  	line-height: 1.8;
  	text-decoration: none;
    font-weight:normal;
    font-size: 14px;
  	color: inherit;
  }
  .footer-distributed .footer-company-name{
  	color:  #8f9296;
  	font-size: 14px;
  	font-weight: normal;
  	margin: 0;
  }
  /* Footer Center */
  .footer-distributed .footer-center{
  	width: 35%;
  }
  .footer-distributed .footer-center i{
  	background-color:  #64a19d;
  	color: #ffffff;
  	font-size: 20px;
  	width: 38px;
  	height: 38px;
  	border-radius: 50%;
  	text-align: center;
  	line-height: 42px;
  	margin: 10px 15px;
  	vertical-align: middle;
  }
  .footer-distributed .footer-center i.fa-envelope{
  	font-size: 17px;
  	line-height: 38px;
  }
  .footer-distributed .footer-center p{
  	display: inline-block;
  	color: #92999f;
  	vertical-align: middle;
  	margin:0;
  }
  .footer-distributed .footer-center p span{
  	display:block;
  	font-weight: normal;
  	font-size:14px;
  	line-height:2;
  }
  .footer-distributed .footer-center p a{
  	color:  #5383d3;
  	text-decoration: none;;
  }
  /* Footer Right */
  .footer-distributed .footer-right{
  	width: 20%;
  }
  .footer-distributed .footer-company-about{
  	line-height: 20px;
  	color:  #92999f;
  	font-size: 13px;
  	font-weight: normal;
  	margin: 0;
  }
  .footer-distributed .footer-company-about span{
  	display: block;
  	color:  #92999f;
  	font-size: 14px;
  	font-weight: bold;
  	margin-bottom: 20px;
  }
  .footer-distributed .footer-icons{
  	margin-top: 25px;
  }
  .footer-distributed .footer-icons a{
  	display: inline-block;
  	width: 35px;
  	height: 35px;
  	cursor: pointer;
  	background-color:  #33383b;
  	border-radius: 2px;
  	font-size: 20px;
  	color: #ffffff;
  	text-align: center;
  	line-height: 35px;
  	margin-right: 3px;
  	margin-bottom: 5px;
  }
  /* If you don't want the footer to be responsive, remove these media queries */
  @media (max-width: 880px) {
  	.footer-distributed{
  		font: bold 14px sans-serif;
  	}
  	.footer-distributed .footer-left,
  	.footer-distributed .footer-center,
  	.footer-distributed .footer-right{
  		display: block;
  		width: 100%;
  		margin-bottom: 40px;
  		text-align: center;
  	}
  	.footer-distributed .footer-center i{
  		margin-left: 0;
  	}
  }
</style>
<script src="https://cdn.boomcdn.com/libs/wow-js/1.3.0/wow.min.js"></script>
<!-- <script src="jquery.min.js"></script> -->
<!-- <script src="owlcarousel/owl.carousel.min.js"></script> -->
<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
<script>
  new WOW().init();
  $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:5
          }
      }
  })
</script>
