<%= render 'shared/navbar' %>
<%= render 'shared/filter' %>

<div class="section" style="margin-top: 140px;">
 <% @projects.each do |project| %>
 <a href="<%= project_path(project) %>">
   <div class="card">
     <div class="card-profile-img">
       <img src="<%= asset_path 'logo.png' %>" style="width: 33px; height: 33px;"></img>
     </div>
     <div class="card-username">
       <%= project.title %>
     </div>
     <div class="card-user-category">
       developer
     </div>
     <div class="card-sub">
       <%= project.location %>
     </div>
     <div class="card-job">
       <%= project.condition %>
     </div>
     <div class="card-detail">
       <%= project.detail %>
     </div>
     <div class="card-bottom">
       <div class="card-last-update">
         10분 전 업데이트
       </div>
       <div class="card-scrap"></div>
     </div>
   </div>
  </a>
 <% end %>
</div>
