<%= render 'shared/navbar' %>
<div class="block" style="margin-top: 100px;">
  <h1>프로젝트 상세페이지입니다!</h1>
  제목 <%= @project.title %> <br>
  설명 <%= @project.detail %> <br>
  조건 <%= @project.condition %> <br>
  위치 <%= @project.location %> <br>
  시간 <%= @project.time %> <br>
  인원 <%= @project.number %> <br>
  상세설명 <%= @project.desc %>
</div>
