<div class="form-section">
  <div class="form-title">
    로그인
  </div>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>

    <div class="form-new">
      이메일
      <%= f.input :email, autofocus: true, input_html: { :style=>' width:100%;'}, autocomplete: "email", label: false%>
    </div>

    <div class="form-new">
      비밀번호
      <%= f.input :password, input_html: { :style=>' width:100%;'}, autocomplete: "current-password", label: false %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-new">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="form-button actions">
      <%= f.submit "로그인", class: "btn btn-success", input_html: {:style => 'width: 100%;'} %>
    </div>
  <% end %>

  <div style="text-align: center; text-size: 13px; line-height: 2rem;">
    아직 회원이 아니신가요?
    <div style="text-decoration: underline; cursor: pointer; font-weight: bold; display: inline;">
      <%= link_to '회원가입', new_registration_path(resource_name) %>
    </div>
    <br>
    비밀번호를 잊으셨나요?
    <div style="text-decoration: underline; cursor: pointer; font-weight: bold; display: inline;">
      <%= link_to '비밀번호 찾기', new_password_path(resource_name) %>
    </div>
  </div>
</div>
